body{
background-color:hsl(47, 88%, 63%);
font-family: 'Figtree', sans-serif; 
display:grid;
justify-content: center;
justify-items: center;
align-items: center;
row-gap:50px;
}
.card{
    border:black solid 1.75px;
    box-shadow:10px 10px;
    width: 324px;
    height:496px;
    border-radius: 13px;
    display: grid;
    grid-template-rows: 200px;
    grid: row gap 3px;
    justify-items:center;
    justify-content:space-between;
    background-color:white;
}
.article-img-container img{
    width:282px; 
    height:201px;
    
    margin-top:15px;  
}
.article-info-container{
    margin: 20px 20px 20px 20px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;

}
button{
    background-color:hsl(47, 88%, 63%);
    border-radius: 4px;
    width:76px;
    height:29px;
    border: none;
    font-weight: bolder;
    
}

h1{ 
    font-size:20px;
    border:0;
    margin:0px;
}
p{
    font-size:14px;
    font-weight: 50px;
    color:hsl(0, 0%, 50%);
    border:0;
    margin:0px;
}
h4{ 
    font-size:12px; 
    border:0;
    margin:0px;
}
.author-container{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items:center;
    
    
}

.author-name{
    font-size:17px;
    font-weight: 600px;
    
}

